In [1]:
properties_melted.plot()
plt.show()

In [2]:
plt.plot(properties_melted)
plt.show()

In [3]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [4]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [5]:
properties.head()
properties.shape
properties.info()

In [6]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [7]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [8]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [9]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [10]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [11]:
plt.plot(properties_melted)
plt.show()

In [12]:
properties_melted.plot()
plt.show()

In [13]:
properties_melted["Boroughs"].plot()
plt.show()

In [14]:
properties_melted.plot(x="Date",y=)
plt.show()

In [15]:
properties_melted.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [16]:
properties_melted["Boroughs"].plot(x="Date",y="Average price", kind = "line")
plt.show()

In [17]:
properties_melted.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [18]:
grouped = properties_melted.groupby("Boroughs")
properties_melted.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [19]:
grouped = properties_melted.groupby("Boroughs")
grouped.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [20]:
grouped = properties_melted.groupby("Boroughs")["Average price"].sum()
grouped.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [21]:
grouped = properties_melted.groupby("Date")["Boroughs"].sum()
grouped.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [22]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.show()

In [23]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.y_axis("Average price")
plt.show()

In [24]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.show()

In [25]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [26]:
properties_melted["Date"].head(50)

In [27]:
#properties_melted["Date"].head(50)
grouped = properties_melted.groupby("Date")["Boroughs"].sum()

In [28]:
#properties_melted["Date"].head(50)
grouped = properties_melted.groupby("Date")["Boroughs"].sum()
grouped.head()

In [29]:
#properties_melted["Date"].head(50)
grouped = properties_melted.groupby("Date")["Boroughs"].sum()
grouped.head(50)

In [30]:
properties_melted["Date"].head(50)

In [31]:
properties_melted["Date"].head()
properties_melted["Date"].dtypes

In [32]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes

In [33]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes

In [34]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes

In [35]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes

In [36]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head()

In [37]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby("Date")["Average price"].sum()
new_dataframe.head()

In [38]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs"])["Average price"].sum()
new_dataframe.head()

In [39]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head()

In [40]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head(50)

In [41]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(50)
new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [42]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head(50)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [43]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"]
new_dataframe.head(50)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [44]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head(50)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [45]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [46]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].transform(sum)
new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [47]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [48]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [49]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()

In [50]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby('Date')['Average price'].sum().to_dict()

In [51]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Code","Boroughs"])['Average price'].sum().to_dict()

In [52]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Code","Boroughs"])['Average price'].sum().to_dict()

In [53]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Code","Boroughs"])['Average price'].sum().to_dict()

In [54]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby("Boroughs")['Average price'].sum().to_dict()

In [55]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby("Date")['Average price'].sum().to_dict()

In [56]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [57]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [58]:
properties.head()
properties.shape
properties.info()

In [59]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [60]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [61]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [62]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [63]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [64]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [65]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby("Date")['Average price'].sum().to_dict()

In [66]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [67]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs"])['Average price'].sum().to_dict()

In [68]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [69]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [70]:
properties.head()
properties.shape
properties.info()

In [71]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [72]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [73]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [74]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [75]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [76]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [77]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs"])['Average price'].sum().to_dict()

In [78]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs"])['Average price'].sum().to_dict() 
e

In [79]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs"])['Average price'].sum().to_dict() 
print(e)

In [80]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [81]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs"])['Average price'].sum().to_dict()

In [82]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [83]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [84]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [85]:
properties.head()
properties.shape
properties.info()

In [86]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [87]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [88]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [89]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [90]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [91]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [92]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs"])['Average price'].sum().to_dict()

In [93]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [94]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [95]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [96]:
properties.head()
properties.shape
properties.info()

In [97]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [98]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [99]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [100]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [101]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [102]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [103]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price%Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict()

In [104]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict()

In [105]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [106]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [107]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [108]:
properties.head()
properties.shape
properties.info()

In [109]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [110]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [111]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [112]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [113]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [114]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [115]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted

e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict()

In [116]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [117]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [118]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [119]:
properties.head()
properties.shape
properties.info()

In [120]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [121]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [122]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [123]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [124]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [125]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [126]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict()

In [127]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby(properties_melted.Date.properties_melted.to_period("Y"))['Average price'].sum()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [128]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [129]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [130]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [131]:
properties.head()
properties.shape
properties.info()

In [132]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [133]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [134]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [135]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [136]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [137]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [138]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby(properties_melted.Date.properties_melted.to_period("Y"))['Average price'].sum()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [139]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby(properties_melted.Date.properties_melted.to_period("Y"))['Average price'].sum()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [140]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby(properties_melted.Date.dt.to_period("Y"))['Average price'].sum()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [141]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Borough"])['Average price'].sum()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [142]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].sum()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [143]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()

for year, price in result.items():
    print(f"Average price{year} = {price}")

In [144]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()

for year, price in result.items():
    result1 = (f"Average price{year} = {price}")

In [145]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()

for year, price in result.items():
    result1 = (f"Average price{year} = {price}")
print(result1)

In [146]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dataframe() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [147]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [148]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [149]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [150]:
properties.head()
properties.shape
properties.info()

In [151]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [152]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [153]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [154]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [155]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [156]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [157]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dataframe() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [158]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dataframe() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [159]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [160]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [161]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [162]:
properties.head()
properties.shape
properties.info()

In [163]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [164]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [165]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [166]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [167]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [168]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [169]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dataframe() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [170]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [171]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [172]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [173]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [174]:
properties.head()
properties.shape
properties.info()

In [175]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [176]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [177]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [178]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [179]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [180]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [181]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [182]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [183]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [184]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [185]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [186]:
properties.head()
properties.shape
properties.info()

In [187]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [188]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [189]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [190]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [191]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [192]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [193]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"])
properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
e = properties_melted
e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

In [194]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year

In [195]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [196]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [197]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [198]:
properties.head()
properties.shape
properties.info()

In [199]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [200]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [201]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [202]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [203]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [204]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [205]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year

In [206]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year

In [207]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted["Year"].head()

In [208]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)

In [209]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
new_df = properties_melted.drop("Date")

In [210]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
new_df = properties_melted.drop("Date",inplace = True, axis = 1)

In [211]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
new_df = properties_melted.drop("Date",inplace = True, axis = 1)

In [212]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [213]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [214]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [215]:
properties.head()
properties.shape
properties.info()

In [216]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [217]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [218]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [219]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [220]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [221]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [222]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
new_df = properties_melted.drop("Date",inplace = True, axis = 1)

In [223]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
new_df = properties_melted.drop("Date",inplace = True, axis = 1)

In [224]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
properties_melted.drop("Date",inplace = True, axis = 1)

In [225]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
properties_melted.drop("Date",inplace = True, axis = 1)

In [226]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [227]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [228]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [229]:
properties.head()
properties.shape
properties.info()

In [230]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [231]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [232]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [233]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [234]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [235]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [236]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.head(50)
properties_melted.drop("Date",inplace = True, axis = 1)

In [237]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
#properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
#properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
#properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [238]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [239]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [240]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [241]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [242]:
properties.head()
properties.shape
properties.info()

In [243]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [244]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [245]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [246]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [247]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [248]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [249]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [250]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()

In [251]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [252]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [253]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [254]:
properties.head()
properties.shape
properties.info()

In [255]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [256]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [257]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [258]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [259]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [260]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [261]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()

In [262]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [263]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [264]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [265]:
properties.head()
properties.shape
properties.info()

In [266]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [267]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [268]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [269]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [270]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [271]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [272]:
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [273]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)

new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_data

In [274]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()

In [275]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()

In [276]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_dataframe.head()

In [277]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_dataframe.head(50)

In [278]:
#properties_melted["Date"].head()
#properties_melted["Date"].dtypes
#properties_melted["Date"].dtypes
#new_dataframe = properties_melted.groupby(["Code","Boroughs","Date"])["Average price"].sum()
#new_dataframe.head(500)
#new_dataframe.columns
#new_dataframe['amount'].groupby(df['last_payout'].dt.to_period('M')).sum()
#e = properties_melted
#e.Date = (e.Date.apply(lambda x: pd.to_datetime(x, format="%Y-%M-%d"))).dt.strftime('Average price %Y')  
#e.groupby(["Date","Boroughs","Code"])['Average price'].sum().to_dict() 
#result = properties_melted.groupby([properties_melted.Date.dt.to_period("Y"),"Code","Boroughs"])['Average price'].mean()
#for year, price in result.items():
    #result1 = (f"Average price{year} = {price}")
#print(result1)
new_dataframe = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_dataframe.head(100)

In [279]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [280]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)
new_df.reset_index

In [281]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.reset_index
new_df.head(30)

In [282]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [283]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [284]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [285]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [286]:
properties.head()
properties.shape
properties.info()

In [287]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [288]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [289]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [290]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [291]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [292]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [293]:
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [294]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [295]:
new_df.plot(kind="line")
plt.show()

In [296]:
new_df.plot(x = "Boroughs", y = "Average_price",kind="line")
plt.show()

In [297]:
plt.plot(new_df, x = "Boroughs", y = "Average_price",kind="line")
plt.show()

In [298]:
#plt.plot(new_df, x = "Boroughs", y = "Average price",kind="line")
#plt.show()
new_df.set_index('Code', inplace=True)
new_df.groupby('Year')['Average price'].plot(legend=True)

In [299]:
new_df.plot()
plt.show()

In [300]:
new_df.plot(kind = "hist")
plt.show()

In [301]:
new_df.plot.bar()
plt.show()

In [302]:
new_df.plot.bar()
plt.show()

In [303]:
new_df.plot(kind = "bar")
plt.show()

In [304]:
new_df.plot(kind = "bar")
plt.show()

In [305]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [306]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [307]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [308]:
properties.head()
properties.shape
properties.info()

In [309]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [310]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [311]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [312]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [313]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [314]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [315]:
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [316]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [317]:
new_df.plot(kind = "bar")
plt.show()

In [318]:
new_df.plot(kind = "bar")
plt.show()

In [319]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [320]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [321]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [322]:
properties.head()
properties.shape
properties.info()

In [323]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [324]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [325]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [326]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [327]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [328]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [329]:
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [330]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [331]:
new_df.plot(kind = "bar")
plt.show()

In [332]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [333]:
properties.head()
properties.shape
properties.info()

In [334]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [335]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [336]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [337]:
new_df.plot(x = "Boroughs", kind = "bar")
plt.show()

In [338]:
new_df = properties_melted.groupby("Year")["Average price"].mean()
new_df.head(30)

In [339]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [340]:
new_df.plot()
plt.show()

In [341]:
new_df.plot(kind = "hist")
plt.show()

In [342]:
new_df.plot(kind = "line")
plt.show()

In [343]:
#new_df.plot(kind = "line")
#plt.show()
prop_one_borough2 = new_df[new_df["Code"] == "E09000001"]
print(prop_one_borough2)

In [344]:
#new_df.plot(kind = "line")
#plt.show()
prop_one_borough2 = new_df[new_df["Code"] == "E09000001"]
prop_one_borough2

In [345]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [346]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [347]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [348]:
properties.head()
properties.shape
properties.info()

In [349]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [350]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [351]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [352]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [353]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [354]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [355]:
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [356]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [357]:
#new_df.plot(kind = "line")
#plt.show()
prop_one_borough2 = new_df[new_df["Code"] == "E09000001"]
prop_one_borough2

In [358]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)
new_df.plot()
plt.show()

In [359]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)
new_df.hist()
plt.show()

In [360]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)
new_df.bar()
plt.show()

In [361]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)
new_df.hist()
plt.show()

In [362]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean().plot()
new_df.head(30)

In [363]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [364]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)
new_df.reset_index

In [365]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.reset_index
new_df.head(30)

In [366]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.reset_index
new_df.head(30)
new_df.index()

In [367]:
  %notebook "C:\Users\Julia\Documents\_DATA SCIENCE\_Case_studies\Case_study_3_London_Housing\Case_study_London_Housing_Yuliya_Selevich.ipynb"

In [368]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

In [369]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [370]:
properties.head()
properties.shape
properties.info()

In [371]:
properties_transposed = properties.transpose()
properties_transposed.index
properties_transposed = properties_transposed.reset_index()
properties_transposed.columns = properties_transposed.iloc[0]
properties_transposed = properties_transposed.drop(0)
properties_transposed.head()

In [372]:
properties_renamed = properties_transposed.rename({"Unnamed: 0":"Boroughs"}, axis = "columns")
properties_renamed.columns = properties_renamed.columns.fillna("Code")
properties_renamed.head()

In [373]:
properties_melted = pd.melt(properties_renamed, id_vars = ["Boroughs","Code"],var_name = "Date",value_name = "Average price")
properties_melted.head(33)

In [374]:
def convert_to_float(x):
    try:
        return float(x)
    except:
        return np.nan

properties_melted["Average price"] = properties_melted["Average price"].apply(convert_to_float)

properties_melted["Average price"].dtypes

In [375]:
properties_melted.dropna(inplace=True)

list_of_codes_not_in_london = ["E13000001","E13000002","E12000001","E12000002","E12000003","E12000004","E12000005","E12000006",
                             "E12000007","E12000008","E12000009","E92000001"]
for item in list_of_codes_not_in_london:
    properties_melted = properties_melted[properties_melted.Code != item]
properties_melted = properties_melted.reset_index(drop = True)
properties_melted.head()
properties_melted.count()

In [376]:
prop_one_borough = properties_melted[properties_melted["Boroughs"] == "Greenwich"]
#grouped = properties_melted.groupby("Date")["Boroughs"].sum()
prop_one_borough.plot(x="Date",y="Average price", kind = "line")
plt.ylabel("Average price")
plt.title('Price change for "Greenwich" borough of London')
plt.show()

In [377]:
properties_melted["Date"] = pd.to_datetime(properties_melted["Date"],format='%Y%m%d')
properties_melted["Year"] = pd.DatetimeIndex(properties_melted["Date"]).year
properties_melted.drop("Date",inplace = True, axis = 1)
properties_melted.head(50)

In [378]:
new_df = properties_melted.groupby(["Code","Boroughs","Year"])["Average price"].mean()
new_df.head(30)

In [379]:
#new_df.plot(kind = "line")
#plt.show()
prop_one_borough2 = new_df[new_df["Code"] == "E09000001"]
prop_one_borough2

In [380]:
ax = new_df.unstack(level=0).plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
plt.tight_layout()

In [381]:
dfp = properties_melted.pivot_table(index='Year', columns='Code',"Boroughs", values=["Average price"], aggfunc='mean')
dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
plt.tight_layout()

In [382]:
dfp = properties_melted.pivot_table(index='Year', columns='Code',"Boroughs", values="Average price", aggfunc='mean')
dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
plt.tight_layout()

In [383]:
dfp = properties_melted.pivot_table(index='Year', columns='Code',"Boroughs", values="Average price")
dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
plt.tight_layout()

In [384]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"] values="Average price")
dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
plt.tight_layout()

In [385]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
plt.tight_layout()

In [386]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
#dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7), layout=(2, 3))
#plt.tight_layout()
print(dfp)

In [387]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(kind='bar', subplots=True, rot=0, figsize=(9, 7))
plt.tight_layout()

In [388]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(subplots=True, rot=0, figsize=(9, 7))
plt.tight_layout()

In [389]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(subplots=True, rot=0, figsize=(9, 7))

In [390]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot()
plt.show()

In [391]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(kind="hist")
plt.show()

In [392]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(x="Year",y="Average price")
plt.show()

In [393]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot()
plt.show()

In [394]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(legend= False)
plt.show()

In [395]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(kind = "bar",legend= False)
plt.show()

In [396]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(kind = "line",legend= False)
plt.show()

In [397]:
dfp = properties_melted.pivot_table(index='Year', columns=['Code',"Boroughs"],values="Average price")
dfp.plot(x="Year",y="Average price",kind = "line",legend= False)
plt.show()